{% extends 'orders/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block body %}
<div class="login-register-box">
  <h1>Register</h1>
  <form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="firstname" placeholder="First name">
    <input type="text" name="lastname" placeholder="Last name">
    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email">
    <input type="password" name="password">
    <input type="password" name="confirmation">
    <button type="submit">Register</button>
  </form>
  {{message}}
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'orders/js/login-register.js' %}" charset="utf-8"></script>
{% endblock javascript %}
