html, body {
  height: 100%;
  font-family: 'Roboto',sans-serif;
}
button{
  font-family: 'Gobu', sans-serif;
  font-weight: 300;
}
nav {
  background-color: #75daad;
  color: white;
  padding-top: 10px;
  margin-bottom: 30px;
  padding-bottom: 0;
}

.nav-left{
position: absolute;
left: 10px;
}
.nav-right{
position: absolute;
right: 20px;
}

.navbar-toggler {
position: absolute;
left: 20px;
top: 25px;
}

.navbar-toggler-icon {
  background-image: url(/static/orders/menu.svg);
}
.navbar-toggler-icon:focus {
outline-color: white;
}

.cart-toggler-icon{
  background-image: url(/static/orders/shopping-cart.svg);
  height: 50px;
}

nav .logo{
  width: 100%;
    display: block;
    margin: 0 auto;
}

.logo h1{
  font-family: 'Viaoda Libre', cursive;
  font-size: 3.5rem;
  text-align: center;
}

.navlink {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 20px;
  text-decoration: none;
}

.navlink:hover {
  color: #edffea;
  text-decoration: none;
}

#shopping-cart{
  display: none;
  position: absolute;
  right:10px;
  height: 50px;
}

#collapsable-cart-content{
  display: none;
width: 300px;
position: fixed;
background-color: inherit;
z-index: 100;
top:0;
right:0;
}

#collapsable-cart-container{
  max-height: 450px;
  overflow-y: scroll;
}

#collapsable-cart-content ol{
list-style-type: none;
padding-left: 0;
}
#collapsable-cart-content h5{
  margin-bottom: 0;
  margin-top: 3px;
  font-weight: 400;
  font-size: 1.3rem;
}
#closebtn{
  border: solid 1px black;
  height: 30px;
  text-align: center;
}
.up-arrow{
  height: 30px;
}
/* index styles */
#menu {
  margin: 10px;
}

.cart-col {
  width: calc(100% / 6);
  padding: 0;
}

.cart-col ol{
  padding-left: 0;
  list-style-type: none;
}

.cart-col h5{
  margin-bottom: 0;
  margin-top: 3px;
  font-weight: 400;
  font-size: 1.3rem
}

.plus-minus-container{
  position: relative;
      float: right;
      bottom: 2px;
}

.cart-container {
padding: 10px;
}

.cart-item{
  padding-bottom: 20px;
}
.menu-section {
  border: solid 1px #ed6663;
  border-radius: 10px;
  margin-bottom: 40px;
}

.menu-section ul {
  padding-left: 20px;
}

.menu-section li {
  list-style-type: none;
  margin: 20px 0;
}

.menu-section h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  padding-top: 5px;
}

.menu-section h3 {
  font-size: 2rem;
  font-weight: 300;
}

.menu-section h3:after {
  content: "";
  display: block;
  text-align: right;
  width: 80%;
  border-bottom: solid 1px black;
  padding-top: 10px;
}

.food-info {
  border-left: solid 1px black;
  display: inline-block;
  /* - the width of .food-picture including padding */
  width: calc(100% - 180px);
  padding-left: 20px;
  min-height: 150px;
}

.food-picture {
  float: left;
  width: 150px;
  margin-right: 20px;
}

.pizza-description{
  font-style: italic;
  line-height: 1.5;
}

.price {
  padding-top: 10px;
}

.quantity{
  font-size: 1.2rem;
}

#cart-total{
font-size: 1.5rem;
}
/* buttons */
#menu button:focus {
  outline: none;
}

.addcartbtn {
  float: right;
  border-radius: 10px;
  background-color: #75daad;
  color: white;
  margin: 3px;
  font-size: 1.2rem;
}

.addcartbtnclicked {
  background-color: white;
  color: #75daad;
}

.pricebtn {
  border-radius: 10px;
  margin: 3px;
  background-color: white;
  color: black;
  font-size: 1.2rem;
}

.selected {
  background-color: black;
  color: white;
}

.not-selected {
  background-color: #ed6663;
  color: white;
}

.topping, .extra {
  border-radius: 10px;
  margin: 3px;
  background-color: white;
  color: #ed6663;
  border: solid #ed6663 2px;
}

.topping-selected, .extra-selected {
  border-radius: 10px;
  margin: 3px;
  background-color: #ed6663;
  color: white;
}

.plus-minus-btn {
  border-radius: 50%;
  height:25px;
  width:25px;
  font-size: 0.8rem;
  background-color: #75daad;
  color: white;
  margin: 0 10px;
}

.checkout-btn{
  width:100%;
  border-radius: 10px;
  margin: 3px;
  background-color: #ed6663;
  color: white;
  font-size: 1.4rem;
}

.checkout-btn:disabled{
  background-color: lightgrey;
}


/* checkout styles */
#checkout-cart{
margin:50px 50px 0 50px;
  border: solid 1px black;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 400;
}

#checkout-cart h1{
  text-align: center;
}

#checkout-total{
  margin-right: 50px;
  text-align: right;
  padding: 20px;
  font-size: 2rem;
  font-weight: 500;
}

#checkout-total::before{
  content:'Total:';
  font-size: 1.2rem;
}

#checkout-btns{
  margin: 20px 50px;
}

#checkout-btns .order{
float: right;
border-radius: 10px;
font-size: 1.3rem;
padding: 5px 10px;
background-color: #75daad;
color: white;

}

#checkout-btns .edit{
border-radius: 10px;
font-size: 1.3rem;
padding: 5px 10px;
background-color: #ed6663;
color: white;
}

#checkout-btns form{
  display: inline;
}

.checkout-cart-item{
padding:20px;
border-radius: 10px;
border-bottom: solid 1px black;
}
.cart-item-total{
  float: right;
}

/* admin/view_orders styles */
table{
  margin: 20px 0;
}
thead{
  text-align: center;
}
tbody{
  font-size: 1.2rem;
}
tr{
  border-bottom: solid 1px;
}

.centre{
  text-align: center;
}


/* login / register styles */
.login-register-box{
  margin: 0 auto 10px auto;
  border: solid 1px #75daad;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  width: fit-content;
}

.login-register-box input{
  display: block;
  margin-bottom: 30px;
  width: 300px;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.login-register-box h1{
  margin-bottom: 30px;

}

.login-register-box input:focus{
  border-bottom: solid 3px #75daad;
  outline: none;
}

.login-register-box button{
  width:100%;
  border-radius: 10px;
  margin: 3px;
  background-color: #ed6663;
  color: white;
  font-size: 1.4rem;
}


/* My orders styles */
.my-orders h1{
  text-align: center;
}

/* Order confirmation styles */
.order-confirmation{
  margin: 50px;
}

@media (max-width: 1060px) {
  #reg .food-picture{
    display: block;
    margin: 0 auto;
    float: none;
  }

  #sic .food-picture{
    display: block;
    margin: 0 auto;
    float: none;
  }

  #reg .food-info{
    border-left: inherit;
    display: block;
    width: 100%;
    padding-left: 0;
  }
  #sic .food-info{
    border-left: inherit;
    display: block;
    width: 100%;
    padding-left: 0;
  }
  #reg .food-info h3{
    text-align: center;
  }

  #sic .food-info h3{
    text-align: center;
  }

  #reg .food-info h3:after {
    width: 90%;
    margin: 0 auto;
  }

  #sic .food-info h3:after {
    width: 90%;
    margin: 0 auto;
  }

  .plus-minus-btn{

    height:23px;
    width:23px;
    font-size: 0.75rem;
    margin: 0 5px;
  }

  .my-orders td{
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
#shopping-cart{
  display: inline-block;
}
.cart-col{
  display: none;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
  }

  .nav-left{
  position: static;
  }
  .nav-right{
  position: static;
  right: 0;
  }

  .container-fluid{
    /* Need padding top since navbar is fixed and out of the flow of the document */
    padding-top: 100px;
  }

nav  .logo{

  }

nav a{
  display: block;
}

.navlink{
  padding: 5px 15px;
}

.menu-section h3{
  font-size: 1.75rem;
}

.my-orders table{
  text-align: center;
}
.expandable:hover{
      background-color: rgba(0,0,0,.075);
}

}

@media (max-width: 780px){

  .container-fluid{
    /* Need padding top since navbar is fixed and out of the flow of the document */
    padding-top: 100px;
  }

  .addcartbtn, .pricebtn, .topping, .extra {
    font-size: 1rem;
  }
  .food-info {
    /* - the width of .food-picture including padding */
    width: calc(100% - 130px);
    min-height: 100px;
  }

  .food-picture {
    width: 100px;
  }

  .menu-section li{
padding: 10px;
  }

}

  @media (max-width: 680px){
    .addcartbtn, .pricebtn, .topping, .extra {
      font-size: 0.8rem;
    }

    .menu-section h3{
      font-size: 1.5rem;
    }

  }

@media (max-width: 532px){
  #shopping-cart{
    height: 30px
  }
  .navbar-toggler{
    height: 25px;
    left:10px;
  }
  .logo h1{
    font-size: 2.2rem;
  }
  .navbar-toggler{
    top: 13px;
  }

  .pizza-description{
    font-size: 0.8rem;
  }
  .menu-section h3{
    font-size: 1.3rem;
  }

  .food-info {
    /* - the width of .food-picture including padding */
    width: calc(100% - 120px);
    min-height: 90px;
  }

  .food-picture {
    width: 90px;
  }

  #checkout-cart{
  margin: 0;
  }

  #checkout-btns{
    margin: 20px 10px;
  }
}

@media (max-width: 400px){
  .addcartbtn{
    float: none;
  }
}
